$nonHover: #cdcdcd;
$hover: #888;
$popItColor: #FF0000;

form.filter-form{
	margin-top: 110px;
	width: 210px;
	border-right: 1pt solid red;
	overflow: hidden;
	font-size: 11px;
	font-family: Calibri;

	div.space{
		padding: 12px 0px;
		position: relative;
		display: inline-block;
		color: $nonHover;
		-webkit-transition: all 0.2s linear;

		.filter-label{
			letter-spacing: 1px;
			text-transform: lowercase;
		}

		.filter-text{
			margin: 0px 6px;
			border: 1pt solid transparent;
			color: $popItColor;
			-webkit-transition: all 0.2s linear;
			font-size: 11px;
			max-width: 100px;
		}

		.star-holder{
			position: absolute;
			left: -200px;
			top: 0px;
			padding: 2px 0px;
			width: 200px;
			height: 100%;
			line-height: 42px;
			overflow: hidden;
			background-color: white;
			text-align: center;
			letter-spacing: 2px;
		}

		.star-active{
			color: $popItColor;
		}

		.star-replace{
			border: 1pt solid transparent;
		}

		.input-int{
			width: 20px;
			overflow: hidden;
		}

		.fa-star:hover{
			color: $popItColor;
		}
	}

	div.space:hover{
		color: $hover;
		cursor: pointer;
		-webkit-transition: all 0.3s linear;

		.filter-label{
			letter-spacing: 1px;
			text-transform: lowercase;
		}

		.filter-text{
			border: 1pt solid $hover;
			-webkit-transition: all 0.3s linear;
		}

		.star-holder{
			left: 0px;
			-webkit-transition: all 0.3s linear;
		}

		.star-replace{
			border: 1pt solid transparent;
		}
	}
}