$nonHover: #cdcdcd;
$hover: #888;
$popItColor: #FF0000;

form.filter-form{
	overflow: hidden;
	font-size: 11px;
	font-family: Calibri;
	text-align: center;
	width: 800px;
	margin: 0px auto;

	div.space{
		position: relative;
		display: inline-block;
		margin: 0px 10px;
		color: $nonHover;
		text-align: center;
		-webkit-transition: all 0.2s linear;
		min-width: 150px;
		min-height: 19px;

		span{
			min-width: 18px;
			display: inline-block;
		}

		.filter-text{
			color: $popItColor;
			border: 1pt solid transparent;
			-webkit-transition: all 0.2s linear;
			font-size: 11px;
			max-width: 100px;
		}

		.filter-label{
			line-height: 19px;
			letter-spacing: 1px;
			text-transform: lowercase;
			margin: 0px 2px;
		}

		.filter-val{
			color: $popItColor;
		}

		.value-holder{
			position: absolute;
			left: 0px;
			top: -30px;
			width: 100%;
			height: 100%;
			line-height: 19px;
			overflow: hidden;
			background-color: white;
			letter-spacing: 2px;
			-webkit-transition: all 0.2s linear;

			ul{

				li{
					float: left;
					text-align: center;
					margin: 0px 6px;
				}
			}

			input{
				height: 11px;
			}
		}

		.star-active,
		.days-active,
		.country-active{
			color: $popItColor;
		}

		.fa-star:hover{
			color: $popItColor;
		}
	}

	div.space:hover{
		color: $hover;
		cursor: pointer;
		-webkit-transition: all 0.3s linear;

		.filter-label{
			letter-spacing: 1px;
			text-transform: lowercase;
		}

		.filter-text{
			border: 1pt solid $hover;
			-webkit-transition: all 0.3s linear;
		}

		.value-holder{
			top:0px;
			-webkit-transition: all 0.2s linear;

			ul{

				li:hover{
					color: $popItColor;
				}
			}
		}

		.star-replace{
			border: 1pt solid transparent;
		}
	}
}