$subtleColor: #888;

div.wrapper{
	width: 100%;
}

div.wrapper > div{
	width: 1100px;
	margin: 0px auto;
}

.downsize{
	text-transform: lowercase;
}

.go-left{
	float: left;
}

.go-right{
	float: right;
}

.text-right{
	text-align: right;
}

.subtle-text{
	color: $subtleColor;
}

.small-text{
	font-size: 11px;
}

a .subtle-text:hover{
	color: #d6d6d7;
}

.soc-media-icon{
	color: #888;
	margin: 0px 2px;
	font-size: 11px;
}

.soc-media-icon:hover{
	color: #b3aab4;
}

.clearme{
	clear: both;
}