// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$textColor: #888;
$subtleColor: #cdcdcd;
$popItColor: #FF4040;
$compColor: #009999;
$popItDark: #555;

div.right-padding{

	h1{
		margin-bottom: 10px;
		color: #dedede;
		font-size: 10pt;
	}

	div.vid-list-bands{

		div.loc-wrapper{
			color: $subtleColor;
			font-size: 18pt;
			font-family: Calibri;
			width: 600px;
			
			div.inner-block{
				float: right;
				width: 500px;
				text-align: left;
				-webkit-transition: all 0.2s linear;
				border-bottom: 1px solid $compColor;
				border-right: 1px solid $compColor;

				div.country-block{
					display: inline-block;
					width: 30px;
					padding: 15px;
					background-color: $compColor;

					h1{
						font-size: 14pt;
						font-family: Calibri;
						color: #fff;
					}
				}

				div.data-block{
					padding: 6px;
					float: left;
					width: 424px;

					h1{
						font-size: 12pt;
						display: inline-block;
					}

					h2, span{
						text-align: right;
						font-size: 8pt;
					}

					span{
						float: right;
					}
				}
			}

			div.inner-block:hover{
				padding-right: 10px;
				-webkit-transition: all 0.2s linear;
				cursor: pointer;

				div.data-block{
					h1, h2, span{
						color: $popItColor;
					}
				}
			}
		}

		div.loc-wrapper:first-child div.inner-block{
			border-top: 1px solid $compColor;
		}

	}

}

div.go-back{
	color: $textColor;
	float: right;
	padding: 10px 0px;

	i, span{
		color: $subtleColor;
		font-size: 18pt;
	}

	span{
		font-family: Calibri;
	}
}

div.go-back:hover{
	cursor: pointer;

	i, span{
		color: $popItDark;
	}
}

div.vid-data-wrapper{
	width: 600px;
	color: $textColor;

	#vidHeader{
		margin: 20px auto;
		text-align: center;

		#playArea{
			padding: 30px;
			display: inline-block;
			text-align: center;
			cursor: pointer;

			#playIcon{
				font-size: 46px;
				color: $popItDark;
			}

			h1{
				margin-left: 30px;
				display: inline-block;
				font-size: 32px;
				color: $popItColor;
			}
		}

		#playArea:hover{
			color: $popItColor;
			box-shadow: 0px 0px 8px $subtleColor;
		}

	}

	#dataArea{
		display: inline-block;
		margin-left: 30px;

		div.go-left{
			line-height: 2;
		}
	}

	#vidData{

		ul{
			margin: 30px;
			padding: 6px 0px;
			border-top: 1px dotted $subtleColor;
			border-bottom: 1px dotted $subtleColor;

			li{
				display: inline-block;
				width: 24%;
				font-size: 11px;
				font-family: Calibri;
				color: $subtleColor;

				span{
					color: $compColor;
				}
			}
		}
	}
}