// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$textColor: #888;
$subtleColor: #cdcdcd;
$popItColor: #FF4040;
$compColor: #009999;

div.loc-wrapper{
	color: $subtleColor;
	font-size: 18pt;
	font-family: Calibri;
	width: 600px;
	
	div.inner-block{
		margin: 1px auto;
		width: 400px;
		text-align: left;
		-webkit-transition: all 0.2s linear;
		border: 1px solid $compColor;

		div.country-block{
			display: inline-block;
			width: 30px;
			padding: 5px;
			background-color: $compColor;
			color: #fff;

			h1{
				font-family: Calibri;
			}
		}

		h1{
			display: inline-block;
		}
	}

	div.inner-block:hover{
		padding-right: 10px;
		-webkit-transition: all 0.2s linear;
		cursor: pointer;
		color: $popItColor;
	}
}

div.vid-data-wrapper{
	width: 600px;
	color: $textColor;

	#vidHeader{
		margin: 20px auto;
		text-align: center;

		#playArea{
			padding: 30px;
			display: inline-block;
			text-align: center;
			cursor: pointer;

			#playIcon{
				font-size: 46px;
			}

			h1{
				margin-left: 30px;
				display: inline-block;
				font-size: 32px;
				color: $textColor;
			}
		}

		#playArea:hover{
			color: $popItColor;
			box-shadow: 0px 0px 8px $subtleColor;
		}

	}

	#dataArea{
		display: inline-block;
		margin-left: 30px;

		div.go-left{
			line-height: 2;
		}
	}

	#vidData{

		ul{
			margin: 30px;
			padding: 6px 0px;
			border-top: 1px dotted $subtleColor;
			border-bottom: 1px dotted $subtleColor;

			li{
				display: inline-block;
				width: 24%;
				font-size: 11px;
				font-family: Calibri;
				color: $subtleColor;

				span{
					color: $popItColor;
				}
			}
		}
	}
}