<form action="" method="POST" class="filter-form">
	<div class="space">
		<label for="filterWhere" class="filter-label">Find videos in</label>
		<input id="filterWhere" type="text" class="filter-text" />
	</div>
	<div class="space">
		<label for="filterHowHigh" class="filter-label">With a rating of at least</label>
		<input id="filterHowHigh" type="text" class="filter-text input-int star-replace" />
		<div class="star-holder">
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
		</div>
	</div>
	<div class="space">
		<label for="filterWhen" class="filter-label">Uploaded in the last</label>
		<input id="filterWhen" type="text" class="filter-text input-int" /> 
		<label for="filterWhen" class="filter-label">days</label>
	</div>
</form>