<div class="map-holder">
	<div id="map"></div>
</div>
<script type="text/javascript">
	var mArr = new Array();
	var markArr = new Array();
	var icon1 = "/assets/marker.png";
	var icon2 = "/assets/marker-active.png";
	var currentMarkerIndex = 0;

	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, center_on_user: true, internal: {id: 'map'}}, function(){
		markers = handler.addMarkers(<%= raw @hash.to_json %>);
		//handler.bounds.extendWith(markers);
		handler.getMap().setZoom(3);
		handler.fitMapToBounds();

		if(navigator.geolocation) {
	      success = function(position) {
	        //console.log(position);
	        //createMap(position.coords.latitude, position.coords.longitude);
	        handler.map.centerOn([position.coords.latitude, position.coords.longitude]);
	      };
	      error = function() { 
	      	//console.log("error");
	      	//createMap(12.659493, 79.415412); 
	      	handler.map.centerOn([12.659493, 79.415412]);
	      }

	      navigator.geolocation.getCurrentPosition(success, error);
	    }


		//var position = [32, 31];
		//handler.map.centerOn(position);

		// for(props in handler.getMap()){
		// 	console.log(props + "\n");
		// }

		for(var i = 0; i < markers.length; i++){
			marker = markers[i].getServiceObject();
			marker.setIcon(icon1);
			markArr[i] = marker;

		  	markers_json = <%=raw @hash.to_json %>;
			m = _.find(markers_json, function(marker_json){
							return marker_json.title == marker.getTitle();
					});
			mArr[m.title] = m.link;
		}

		for(var n = 0; n < markArr.length; n++){
			google.maps.event.addListener(markArr[n], 'click', function(){
				currentMarkerIndex = n;
	  			redirect_to(mArr[this.getTitle()]);
			});

			google.maps.event.addListener(markArr[n], 'mouseover', function(){
				this.setIcon(icon2);
			});

			google.maps.event.addListener(markArr[n], 'mouseout', function(){
				this.setIcon(icon1);
			});
		}

		//located in application.js
		addLocationListListener();
	});
</script>