<div class="map-holder">
	<div id="map"></div>
</div>
<script type="text/javascript">
	var mArr = new Array();
	var markArr = new Array();
	var icon1 = "/assets/marker.png";
	var icon2 = "/assets/marker-active.png";

	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
		markers = handler.addMarkers(<%= raw @hash.to_json %>);
		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();

		for(var i = 0; i < markers.length; i++){
			marker = markers[i].getServiceObject();
			marker.setIcon(icon1);
			markArr[i] = marker;

		  	markers_json = <%=raw @hash.to_json %>;
			m = _.find(markers_json, function(marker_json){
							return marker_json.title == marker.getTitle();
					});
			mArr[m.title] = m.link;
		}

		for(var n = 0; n < markArr.length; n++){
			google.maps.event.addListener(markArr[n], 'click', function(){
	  			redirect_to(mArr[this.getTitle()]);
			});

			google.maps.event.addListener(markArr[n], 'mouseover', function(){
				this.setIcon(icon2);
			});

			google.maps.event.addListener(markArr[n], 'mouseout', function(){
				this.setIcon(icon1);
			});
		}

	});

	function redirect_to(url){
		window.location = url;
	}
</script>